<ion-view view-title="Voice Commands">
  <!-- do you want padding? -->
  <ion-content class="padding">

    <!-- content goes here -->
    <ion-list>

      <ion-item class="item item-divider">
        List of instructions
      </ion-item>
      <ion-item ng-repeat="(instruction, info) in speechInstructions">
        {{instruction}} -> {{info.description}}
      </ion-item>
      <ion-item>
        {{results}}
      </ion-item>
    </ion-list>
    <button ng-click="receiveJob()">Receive job</button>
  </ion-content>
</ion-view>
